@charset "UTF-8";

@font-face {
  font-family: 'le_havre_lightlight';
  src: url('../assets/fonts/le_havre_light/le_havre_light_light-webfont.woff2') format('woff2'),
       url('../assets/fonts/le_havre_light/le_havre_light_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}