*, *:after, *:before {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'le_havre_lightlight','Avenir';
  font-size: 36px;
  color: $white;
  scroll-behavior: smooth;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover, a:focus{
    text-decoration: underline;
  }
  button {
    padding: 5 0 0 5;
    height: 10vh;
    font-size: $medium;
    margin-bottom: 5vh;
    border:0;
    border-radius: 2%;
    width:30vw;
    min-height: 40px;
    cursor: pointer;
    @media(max-width: 600px){
      min-width: 300px;
      height: auto;
    }
    @media(max-width: 400){
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }
  button:hover, button:focus{
    background-color: $darker_blue_100;
    color: white;
  }
  i:hover, a:focus i {
    font-size: $xlarge;
  }
  body {
    line-height: 1.3rem;
    letter-spacing: auto;
    background-image: url('../assets/background/background.png');
    & > div {
      text-align: center;
      margin-top: 20%;
    }
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  ul {
    text-align: left;
  }
  code {
    background-color: $white;
    color: black;
    display: block;
    padding: 10px 5px;
    font-size: 0.8em;
    overflow: auto;
    word-wrap: normal;
    margin: 0 20px;
  }
  @media (max-width: 996px) {
    font-size: 20px;
  }
}


