<section id="settings">
  <div>
  <h1>Number of Players</h1>
  <div class="settings__div">
  <p><button class="settings__button">1</button><button class="settings__button">2</button></p>
  <p><button class="settings__button">3</button><button class="settings__button">4</button></p>
</div></div>
<div>
  <h1>Number of Questions</h1>
  <div class="settings__div">
  <p><button class="settings__button">5</button><button class="settings__button">10</button></p>
  <p><button class="settings__button">15</button><button class="settings__button">20</button></p>
</div></div>
</section>
<div id=btn>
  <button>Start</button>
</div>