.header {
  position: fixed !important;
  z-index: 1; 
  top: 0 !important;
  width: 100% !important;
  background-color: $darker_blue_100;
  min-height: 50px;
  display: flex;
  align-items: center;
  align-self: auto;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10vh;
  &__img{
    width: 20vw;
    height: auto;
    min-width: 200px;
   }
  &__div {
    margin:auo;
    width: 200px;
    height: inherit;
    min-height: 45px;
    &--center {
      display: inherit;
      align-items: inherit;
      text-align: center;
      justify-content: center;
      margin: auto;
      font-style: italic;
      font-size: $medium;
    }

    &--right {
      margin-right: 2vw;
      width: 18vw;
      margin-top: auto;
      margin-bottom: auto;
      text-align: end;
      @media(max-width: 1000px){
        margin-top: 2%;
      }
      a:nth-of-type(2)::before{
        content:"|";
        @media(max-width:400px){
          content: none;
        }
      }
    }
  }
}