.header {
  position: fixed !important;
  z-index: 100;
  top: 0 !important;
  width: 100% !important;
  background-color: $darker_blue_100;
  height: 10vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  align-self: auto;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10vh;

  &__div {
    width: 200px;
    height: inherit;
    min-height: 45px;

    // modifier
    &--center {
      display: inherit;
      align-items: inherit;
      text-align: center;
      justify-content: center;
      font-style: italic;
      font-size: $medium;
    }

    &--right {
      margin-right: 2vw;
      margin-top: auto;
      text-align: end;
    }
  }
  &__img {
    width: inherit;
    height: inherit;
  }
}
