.login{
  background-color: $darker_blue_70;
  text-align: center;
  position: absolute;
  width: 50vw;
  margin: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  min-width: 360px;
  &__h2{
margin-bottom: 5%;
  }
}