main {
  margin-top: 15vh;
  width: 100vw;
  background-size: cover;
  //min-height: 80vh;
  color: white;

  section {
    margin: 30px;
    margin-bottom: 0px;
    padding-top: 13vh;
    border-radius: 5px;
    @media(max-width: 400px){
      padding-top: 0;
    }
    
    h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.flex-row {
  flex-direction: row;
  img {
    width: 30%;
    height: 30%;
  }
}

#logo .flex-row img {
  width: 100%;
}

#component-buttons-links {
  .flex-row {
    div {
      justify-content: space-between;
      div {
        img {
          width: 70%;
        }
      }
    }
  }
}

iframe {
  margin: 0 auto;
  align-self: center;
}
#component-assets {
  .flex-row {
    margin: 0 10%;
    justify-content: space-between;

    div div {
      margin: 50px;
      margin-top: 0;
    }

    p {
      margin: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      &:hover {
        color: $lighter_blue;
      }
    }
  }
}