.profile{
  margin-top: 0;
  margin-bottom: 20vh;
  height: auto;
  &__article{
    display: flex;
    flex-wrap: wrap-reverse;
  }
    &__h1{
      background-color: $darker_blue_60;
      text-align: center;
      width: 50vw;
      margin: auto;
      border-radius: 2%;
      padding: 2%;
      min-width: 300px;
    }
    &__a{
      position: absolute;    }
  &__div{
      background-color: $darker_blue_60;
      padding: 5%;
      padding-bottom: 0;
      margin:5% auto 0;
      height: auto;
      width: 30vw;
      border-radius: 2%;
      text-align: center;
      min-width: 300px;
      @media (max-width: 600px) {
        margin-top: 5%;
        position:relative;
        flex-direction: column-reverse;
        &--heading{
          flex-direction: column;
        }
      }
  }
}