.settings{
  display: flex;
  &__div{
    flex-direction: column;   
    margin: auto;
    &--players {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &--questions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__h2{
      background-color: $darker_blue_70;
      padding: 5%;
      border-radius: 2%;
      text-align: center;
    }
    .settings__div{
      display: flex;
    }
  &__button{
      font-size: $regular;
      width: calc(50%-40px);
      height: 100px;
      border-radius: 2%;
      margin: 40px;
      max-width: 100px;
      @media (max-width:400px){
      margin: 10px;
      }
    }
 @media(max-width: 600px){
   display: block;
   width: 100%;
   margin: auto;
 } 
}
#btn{
    text-align: center;
    margin: auto;
    @media(max-width: 600px){
      margin-top: 20%;
    }
}

#btn_players_active,
#btn_questions_active {
  background-color: $darker_blue_100;
  color: white
}